img {
    max-width: 100%;
    height: auto;
}

.row{
    margin-bottom: 60px;
}

.sub-head{
    color: #3f52e3;
    font-weight: bold;
}

.tools li{
    display: inline;
    border: 1px solid #3f52e3;
    color: #3f52e3;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 2px;
 }